// colors

// header

// footer

$color1: #fff; // черный цвет
$color2: #000; // белый цвет
$color3: #8a9a5a; //
$color4: #3b2b19; //
$color5: #dccf73; //

$color6: #8a9a5a; //
$color7: #3b2b19; //
$color8: #dccf73; //
$color9: #8a9a5a; //

$color10: #3b2b19; //
$color11: #dccf73; //
$color12: #8a9a5a; //
$color13: #8a9a5a; //
$color14: #8a9a5a; //
$color15: #8a9a5a; //

$color16: #8a9a5a; //
$color17: #8a9a5a; //
$color18: #8a9a5a; //
$color19: #8a9a5a; //
$color20: #8a9a5a; //
$color21: #8a9a5a; //
$color22: #8a9a5a; //

// z index
